.catergory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.category-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.category-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    p span{
        font-weight: 600;
    }
    p{
        font-weight: 600;
    }
}
.category-products{
    /* margin: 20px 170px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    img{
        gap: 10px;
    }
}
.loadMore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #888;
    font-size: 18px;
    font-weight: 600;
}